/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
header {
  width: 100%;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8%;
  text-align: left;
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
}

.header-logo {
  width: 306px;
  height: 38px;
}

.header-logo h1 {
  font-size: 2.5rem;
  letter-spacing: 3.8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-nav {
  margin-left: 20px;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-align: left;
}

.header-nav ul li {
  margin-left: 5%;
  letter-spacing: 3.8px;
}

main {
  position: relative;
  z-index: auto;
}

.catch-copy {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catch-message {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.catch-message h3 {
  font-size: 2.5rem;
  letter-spacing: 3.8px;
}

.catch-message h2 {
  font-size: 3.25rem;
  margin-top: 126px;
  font-family: 'Zapfino';
  opacity: 1;
}

.catch-img {
  width: 50%;
  background-size: cover;
}

.concept {
  width: 100%;
  height: 963.5px;
}

.concept-wrap {
  width: 85%;
  margin: 0 auto;
  padding-top: 256px;
  color: #707070;
}

.concept-wrap h4 {
  width: 234.5px;
  font-size: 1.2rem;
  font-family: 'Roboto';
  letter-spacing: 5.4px;
  text-transform: uppercase;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.concept-wrap h4:after {
  margin-left: 10px;
  border-top: 1px solid;
  content: "";
  display: inline;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.c-img-wrap {
  width: 100%;
  margin-top: 11px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-img-wrap .c-img2 {
  margin-left: 11px;
}

.message-wrap {
  width: 80%;
  margin: 0 auto;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.message-wrap h3 {
  width: 445px;
  height: 130px;
  margin-top: 69px;
  font-size: 2rem;
  letter-spacing: 16px;
  text-align: center;
  opacity: 1;
}

.message-wrap P {
  width: 422px;
  height: 130px;
  margin-top: 69px;
  font-size: 0.85rem;
  letter-spacing: 1.6px;
  opacity: 1;
}

.back-color1 {
  width: 100%;
  height: 967px;
  background: -webkit-gradient(linear, left top, left bottom, from(#A193861F), color-stop(50%, #A193861F), color-stop(50%, #A1938689), to(#A1938689));
  background: linear-gradient(180deg, #A193861F 0%, #A193861F 50%, #A1938689 50%, #A1938689 100%);
}
/*# sourceMappingURL=main.css.map */