
.catch-copy {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.catch-message {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    h3 {
        font-size: 2.5rem;
        letter-spacing: 3.8px;
    }
    h2 {
        font-size: 3.25rem;
        margin-top: 126px;
        font-family: 'Zapfino';
        opacity: 1;
    }
}

.catch-img {
    width: 50%;
    background-size: cover;
}